@{
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
    ViewBag.Title = "Access Denied";
}


<div class="navbar">
    <h2>Access Denied</h2>
    <ul>
        <span>You do not have permission to access this page.</span>
        <a asp-controller="Persons" asp-action="Index" class="button-link button-blue-back ml">Back to Persons</a>
    </ul>
</div>